.sidebar {
  float: right;
  width: 25%;
  background-color: blue;
  color: red;
  padding: 10px;
  border: 10px solid yellow;
  margin: 30px;
}

img{
  float: left;
  padding: 10px;
  border: 10px solid green;
  margin: 20px;
}
